:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --blue: #8BDCFF;
    --red: #FF7676;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes overlay-fade-in {
  from {opacity: 0;}
  to {opacity: 0.2;}
}

body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  height:90vh;
  width: 90vw;
  background-color: #F1FAFE;
}


#taskpage{
  display: flex;
  flex-direction: column;
  font-family:  sans-serif;
  gap:1.2vw;
  width: 74vw;
  height: 100%;
  border-radius: 0.512vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}
#taglist{
  padding-top: 2vw;
  overflow: auto;
  width: 100%;
  min-height: 2.2vh;
  max-height: 15vh;
  display: flex;
}
#taglist::-webkit-scrollbar {
  background: #ddd;
  height: 1.12vh;
  border-radius: 100px;
  cursor: pointer;
}
#taglist::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: grey;
  border-radius: 100px;
}

#taskpage_header {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 2vw;
  font-weight: bold;
  width: 75vw;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}
input[type="text"]:focus {
  border-color: #3c9cee;
}

.list-item{
  background-color:#ffffff;
  padding:16px;
  max-width: 600px;
  min-width: 400px;
  max-height: 100px;
  min-height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}




.checkbox{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkbox_input{
  display: none;
}
.checkbox_box{
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #BABABA;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.512vw;
  margin-left: 0.512vw;
  flex-shrink: 0;
  transition: 200ms;
}
.checkbox_box:hover{
  background-color: black;
  opacity: 0.2;
}
.checkbox_box::after{
  content:'\2714';
  color: white;
  transform: scale(0);
}
.checkbox_input:checked + .checkbox_box{
  background: #24e170;
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}
/* .calendar {
  height: auto;
  width: 20.21vw;
  background-color: white;
  border-radius: 1.024vw;
  padding: 1.024vw;
  position: relative;
  overflow: hidden;
  border: 0.118vw solid #000000;
}
.light .calendar {
  box-shadow: var(--shadow);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4vw;
  font-weight: 600;
  color: var(--color-txt);
  padding: 0.512vw;
}
.calendar-body {
  padding: 0.512vw;
}
.calendar-week-day {
  height: 2.56vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  font-size: 0.955vw;
  color: #7f7f7f;
}
.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.102vw;
  color: var(--color-txt);
  font-size: 0.77vw;
}
.calendar-days div {
  width: 2.25vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.256vw;
  position: relative;
  animation: to-top 1s forwards;
}
.calendar-days div span {
  position: absolute;
}
/* .calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
} */
.calendar-day-cursor{
  cursor: pointer;
}
.calendar-day-hover:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  /* border-radius: 20%; */
  border-radius: 50%;
  color: var(--dark-text);
}
.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 0.102;
  height: 0;
  background-color: var(--color-txt);
}
/* .calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
} */
.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}
.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}
.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 0.102;
  background-color: var(--color-txt);
}
/* .calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
} */
.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}
.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}
/* .calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
} */
.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}
.calendar-days div.ctselect-date,
.calendar-days div.ctselect-date:hover {
  background-color: var(--red);
  color: var(--white);
  border-radius: 50%;
}
.calendar-days div.curr-date span {
  display: none;
} */
.month-picker {
  padding: 0.256vw 0.512vw;
  border-radius: 0.512vw;
  cursor: pointer;
}
.month-picker:hover {
  background-color: #e3e3e3;
}
.year-picker {
  display: flex;
  align-items: center;
}
.year-change {
  height: 1.548vw;
  width: 1.548vw;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 0.512vw;
  margin-bottom: 0.128vw;
  cursor: pointer;
}
.calendar-footer {
  padding: 0.512vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toggle {
  display: flex;
}
.toggle span {
  margin-right: 0.512vw;
  color: var(--color-txt);
}
.month-list {
  position: absolute;
  font-size: 0.955vw;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.024vw;
  padding-left: 0.112vw;
  grid-template-columns: repeat(3, auto);
  gap: 0.256vw;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}
.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}
.month-list > div {
  display: grid;
  place-items: center;
}
.month-list > div > div {
  padding: 0.256vw 0.512vw;
  border-radius: 0.512vw;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}
.month-list > div > div:hover {
  background-color: #e3e3e3;
}




.outdate{
  justify-content: center;
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
}

.outdate_top{
  width: 5vw;
  height: 1vw;
  border: 0.2vw solid #000000;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0;
}
.outdate_bottom{
  width: 5vw;
  height: 2vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0;
  border:0.2vw solid #000000;
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-size: 1.230vw;
  background: #EFEFEF; 
}

.taskitem{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.230vw;
  padding: 1vw;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background: white;
  width: 31vw;
  height: 3.158vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.512vw;
  border: 2px solid #000000;
  margin: 1%;
  transition: width 200ms,height 200ms,margin 200ms;
  cursor: pointer;
}
.taskitem:hover{
  margin-left: -0.025%;
  margin-right: -0.025%;
  margin-bottom: -0.02%;
  width: 32vw;
  height: 3.2vw;
}
.taskitemmcv{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.230vw;

  padding: 1vw;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background: #018ADA;
  width: 31vw;
  height: 3.158vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.512vw;
  border: 2px solid #000000;

  margin: 1%;
  transition: width 200ms,height 200ms,margin 200ms;

  cursor: pointer;
}
.taskitemmcv:hover{
  margin-left: -0.05%;
  margin-right: -0.05%;
  width: 33.514vw;
  height: 3.356vw;
}
.taskitemcomplete{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.230vw;

  padding: 1vw;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background: #636464;
  width: 32.025vw;
  height: 3.158vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.512vw;
  border: 0.0512vw solid #000000;

  margin: 1%;
  transition: width 200ms,height 200ms,margin 200ms;

  cursor: pointer;
}
.taskitemcomplete:hover{
  margin-left: -0.05%;
  margin-right: -0.05%;
  margin-bottom: -0.04%;
  width: 33.514vw;
  height: 3.356vw;
}
.taskitemmcvcomplete{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.230vw;

  padding: 1vw;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background: #37465d;
  width: 32.025vw;
  height: 3.158vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.512vw;
  border: 0.0512vw solid #000000;

  margin: 1%;
  transition: width 200ms,height 200ms,margin 200ms;

  cursor: pointer;
}
.taskitemmcvcomplete:hover{
  margin-left: -0.05%;
  margin-right: -0.05%;
  margin-bottom: -0.04%;
  width: 33.514vw;
  height: 3.356vw;
}

.comptask_linecontainter {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3vw;
  font-weight: bold;
  font-size: 1.230vw;
}
.comptask_line1 {
  margin: 1.5vw;
  height: 0.118vw;
  width: 10vw;
  background: black;
  border-radius: 100px;
}
.comptask_line2 {
  margin: 1.5vw;
  height: 0.118vw;
  width: 60vw;
  background: black;
  border-radius: 100px;
}

.completed_task_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0.512vw;
}

.tagbox{
  background-color: #BABABA;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  font-weight: bold;
  font-size: 0.862vw;
  height: 1.248vw;
  margin: 0.5%;
  padding-left: 0.778vw;
  padding-right: 0.778vw;
  padding-top: 0.357vw;
  padding-bottom: 0.357vw;

  border-radius: 100px;
}

#createtask_button{
  border: none;
  margin-right:3vw ;
  margin-top: 2vw;
  background-color: none;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 100px;
  cursor: pointer;
  transition: width 200ms,height 200ms,margin 200ms;
}
#createtask_button:hover{
  cursor: pointer;
}


#createtask_box{
  position: absolute;
  right: 1.2vw;
  top: 2.5vw;
  height: 8vh;
  font-family: sans-serif;
  border-radius: 0.512vw;
  padding: 1vw;
  background-color: #ECECEC;
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  width: 23.384vw;
  height: auto;
  max-height: 80vh;
  overflow: auto;
  z-index: 25;
  animation-name: fade-in;
  animation-duration: 300ms;
}
#createtask_header{
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 1.68vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4vh;
}
#createtask_close{
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  width: 1.9vw;
  height: 2vw;
  cursor: pointer;
  transition: width 200ms,height 200ms,margin 200ms;
}
#createtask_close:hover{
  width: 2.1vw;
  height: 2.22vw;
  cursor: pointer;
  margin-top: -0.5%;
  margin-right: -0.5%;
}
#createtask_Name {
  font-family: sans-serif;
  border: none;
  margin-top: 4%;
  padding: 0.512vw;
  padding-left: 0;
  width: 90%;
  max-height: 1.179vw;
  background: none;
  font-size: 1.2vw;
  font-weight: bold;

  transition: 200ms;
}
#createtask_Name::placeholder {
  font-style: italic; 
  font-weight: normal;
}
#createtask_Name:hover{
  font-size: 1.4vw;
}
#createtask_Description {
  font-family: sans-serif;
  width: 90%;
  min-height: 1.25vw;
  background: none;
  font-size: 1vw;
  border: none;
  resize: none;
  height: auto;
  margin-top: 2%;
  padding: 0.512vw;
  padding-left: 0;

  transition: 200ms;
}
#createtask_Description::placeholder {
  font-style: italic; 
  font-weight: normal;
}
#createtask_Description:hover{
  font-size: 1.152vw;
}
#createtask_Description:focus {
  outline: none;
  border: none;
}
#createtask_taglist{
  width: 90%;
  max-height: 10000px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.createtask_tagbox{
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.855vw;
  height: 1.248vw;
  margin: 1.5%;
  margin-left: 0;
  margin-right: 3%;
  padding-left: 0.778vw;
  padding-right: 0.778vw;
  padding-top: 0.531vw;
  padding-bottom: 0.357vw;
  border-radius: 0.256vw;
  border: 0.118vw solid #000000;
}
.createtask_tagclose{
  font-weight: bold;
  font-size: 0.725vw;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 1.0vw;
  height: 1.0vw;
  top: -0.458vw;
  right: -0.458vw;
  background: white;
  border-radius: 100px;
  cursor: pointer;

  transition: 200ms;
}
.createtask_tagclose:hover{
  width: 1.1vw;
  height: 1.1vw;
  margin: -0.3%;
}
.createtask_select{
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  border: none;
  background-color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.855vw;
  height: 2.307vw;
  margin: 1.5%;
  margin-left: 0;
  padding-left: 0.778vw;
  padding-right: 0.778vw;
  padding-top: 0.357vw;
  padding-bottom: 0.357vw;
  border-radius: 0.256vw;
  cursor: pointer;
  transition: 200ms;
  border: 0.118vw solid #000000;
}
.createtask_select div {
  font-family: sans-serif;
  border-radius: 0.512vw;
  border: none;
}
#createtask_createbutton{
  height: 3.283vw;
  width: 23.258vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 1.356vw;
  font-family:  sans-serif;
  color: white;
  background: #5FC9CD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.512vw;
  border: 0.118vw solid #000000;
  cursor: pointer;

  transition: 200ms;
}
#createtask_createbutton:hover{
  background: #4b9ea0;
}
#createtask_time{
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
  margin: 1.3%;
}
#createtask_box::-webkit-scrollbar {
  background: #ddd;
  width: 1.512vh;
  border-radius: 100px;
  cursor: pointer;
}
#createtask_box::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: grey;
  border-radius: 100px;
}



#detailtask{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 33vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 0.512vw;
  width: 39vw;
  
  overflow: auto;
  z-index: 200;
  animation-name: fade-in;
  animation-duration: 300ms;
}
#detailtask_header{
  overflow-wrap: anywhere;
  font-family: sans-serif;
  margin-top: 3%;
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.48vw;
  display: flex;
  justify-content: space-between;
  max-width: 36.3vw;
}
#detailtask_close{
  width: 1.9vw;
  height: 1.9vw;
  cursor: pointer;
  transition: 200ms;
}
#detailtask_close:hover{
  width: 2.1vw;
  height: 2.1vw;
  margin: -0.5%;
  margin: -0.2%;
  margin-left: 1.5%;;
}
#detailtask_description{
  overflow-wrap: anywhere;
  font-family: sans-serif;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  max-width: 36.3vw;
}
#detailtask_taglist{
  width: 95%;
  margin-left: 2%;
  max-height: 10000px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.detailtask_tagbox{
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.855vw;
  height: 1.248vw;
  margin: 1%;
  padding-left: 0.778vw;
  padding-right: 0.778vw;
  padding-top: 0.531vw;
  padding-bottom: 0.357vw;
  border-radius: 0.256vw;
  border: 0.118vw solid #000000;
}
#detailtask_deadline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.48vw;
  width: fit-content;
  padding: 15px;
  height: 3.53vw;
}
#detailtask_delete{
  display: flex;
  font-family:sans-serif;
  font-size: 1.2vw;
  width: 8.5vw;
  height: 2.5vw;
  background-color: #E63946;
  color: white;
  border: 0.118vw solid #000000;
  border-radius: 0.512vw;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer
}
#detailtask_delete:hover{
  background-color: #ab2c36;
}

#mcvdetailtask{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 33vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 0.512vw;
  width: 40vw;
  overflow: auto;
  z-index: 110;
  animation-name: fade-in;
  animation-duration: 300ms;
}


#mcvdetailtask_header{
  display: flex;
  justify-content: space-between;
  padding:20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size:min(3vw,25px);
  width: 95%;
}
#mcvdetailtask_desheader{
  overflow-wrap: anywhere;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10vw;
  display: flex;
  justify-content: space-between;
  max-width: 36.3vw;
  text-decoration: underline;
}

.overlay_screen{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: 20;
  animation-name: over-layfade-in;
  animation-duration: 300ms;
}



  p{
    display: inline;
    vertical-align: middle;
    
  }
  .formargin{
    margin-left: 35px;
  }
  .outside{
    max-width: 280px;
    max-height: 155px;
    min-width: 140px;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ABDADC;
    border: 3px solid #000000;
    border-radius: 19px;
    aspect-ratio: 280/155;
    position: relative;
  }

  .loader{
    aspect-ratio: 250/122;
    border-radius: 10px;
    width: 90%;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
  

  }
  .loader2{
    aspect-ratio: 250/122;
    border-radius: 10px;
    position: absolute;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
  
  .sq1,.sq2{
    background-color: #FFFFFF;
    aspect-ratio: 122/122;
    width: 50%;
    margin: 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: revert;
    border: 3px solid #000000;
  }
  .month{
  font-size: 2.5vw;
  
  text-align: center;
  font-weight: bold;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weekday{
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
  }
  .daynumber{
    font-size: 3.5vw;
    text-align: center;
    font-weight: bold;
  }
  
  .sq1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px 0px 0px 10px;
  
  }
  .sq2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
  }
  


  .rotate{
    transform-origin: right;
    animation: fold 0.2s ;
    animation-iteration-count: 3;
    z-index: 10;
  }
  
  .rotatere{
    transform-origin:left;
    animation: foldre 0.2s ;
    transition-property: transform;
    animation-iteration-count: 3;
    z-index: 10;
  }
  
  
  
  
  @keyframes fold {
    0%{
        transform: rotateY(0deg);
        transform: rotateY(20deg);
        
    }
    25%{
        transform: translateX(1px);
        transform: rotateY(45deg);
    }
    30%{
        transfomr:translateX(1px);
        transform: rotateY(70deg);
    }
    50%{
     
        transform: rotateY(100deg);
    }
    70%{
        transform:rotateY(135deg);
    }
    75%{
        transform:translateX(1px);
        transform:rotateY(160deg);
  }
    80%{
        color: transparent;
        transform:rotateY(180deg);
    }
    85%{
        color: transparent;
        transform:translateX(1px);
        transform:rotateY(0deg);
        
    }
  }
  
  @keyframes foldre {
    0%{
        transform: rotateY(0deg);
        transform: rotateY(-20deg);
    }
    25%{
        transform: translateX(-1px);
        transform: rotateY(-45deg);
    }
    30%{
        transform:translateX(-1px);
        transform: rotateY(-70deg);
    }
    50%{
        transform: rotateY(-100deg);
    }
    70%{
        transform:rotateY(-135deg);
    }
    75%{
        transform:translateX(-1px);
        transform:rotateY(-160deg);
  }
    80%{
        color: transparent;
        transform:rotateY(-180deg);
    }
    85%{
        color: transparent;
        transform:translateX(1px);
        transform:rotateY(0deg);
        
    }
  }

  @media screen and (max-width: 780px) {
    .month{
      font-size: 25px;
    }
    .weekday{
      font-size: 8px;
    }
    .daynumber{
      font-size: 30px;
    }
   
  }

  #taskList{
    padding: 0.5vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #ABDADC;
    border-radius: 15px;
    border-color: black;
    border: 0.2vw solid #000000;
    overflow-y: scroll;
    
  }
  #taskList::-webkit-scrollbar {
    display: none;
  }
  .foraddtask{
  position: relative;
  width: 100%;
  height: fit-content;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.foraddtask::-webkit-scrollbar {
  display: none;
}

.foraddtask::-webkit-scrollbar-track {
  display: none;
}
.foraddtask::-webkit-scrollbar-thumb {
  display: none;
}
  


.taskitemtext{
  margin-left: 3%;
  word-wrap: break-word;
  width: 21vw;

}

.checkandtext{
  display: flex;
}

.outdate_top{
  background-color: red;
}

.mcviconandtext {
  display: flex;
}

.mcvicon {
  width: 3vw;
  height: 3vw;
}

.mcvtext {
  color: white;
  margin-left: 1.024vw;
  overflow-wrap: anywhere;
  width: 21vw;
  display: flex;
  align-items: center;
  justify-content: left;
}

.mcvdetailtask_des {
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

  .lds-ring {
    display: inline-block;
    position: absolute;
    width: 100px;
    aspect-ratio: 1/1;
    left: 44%;
    top: 38%;
    margin: auto;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 8px solid #0d0909;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.overview_mycouresvilledetail{
    vertical-align: middle;
    align-self: center;
    padding-right: 25%;
  }


  #loginbox{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25vw;
    height: 12vw;
    background: #A8DADC;
    border-radius: 0.512vw;
    border: 0.188vw black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  #logintitle{
    margin: 0.65vw;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.25vw;
  }
  #loginsubtitle{
    margin: 0.65vw;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.859vw;
  }
  #loginbutton{
    font-weight: bold;
    background: white;
    border-radius: 0.512vw;
    filter: drop-shadow(0px 0.205vw 0.205vw rgba(0, 0, 0, 0.25));
    width: 90%;
    height: 2.5vw;
    transition: 200ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
  }
  #loginbutton:hover{
    width: 95%;
    height: 2.65vw;
    margin: -0.05;
    cursor: pointer;
  }

  .fitler_checkbox{
    margin: 2px 0;
  font-family: sans-serif;
  font-style: normal;
  font-size: 1vw;
  }

  .tagDeleteButton{
    font-weight: 900;
    border: transparent;
    background: transparent;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    color: var(--red);
    margin-left: auto;
    cursor: pointer;
  }